<ng-container *ngTemplateOutlet="creationRes ? creationResult : createGallery"></ng-container>
<ng-template #createGallery>
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>
        <a href="#/tabs/tab3"><ion-icon name="arrow-back-outline" size="medium"></ion-icon></a> Create New Album
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <form [formGroup]="newGalleryForm" (ngSubmit)="createAlbum()">
      <ion-item>
        <ion-label position="floating">Album Name</ion-label>
        <ion-input placeholder="Enter text" formControlName="name"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Description (optional)</ion-label>
        <ion-textarea placeholder="Say something about this album" formControlName="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label id="date-info-modal-trigger">Start date of event <span><ion-icon name="information-circle-outline"
              color="primary"></ion-icon></span></ion-label>
        <ion-datetime-button datetime="startDate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="startDate" presentation="date" locale="en-IN" formControlName="startDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-label>End date (optional)</ion-label>
        <ion-datetime-button datetime="endDate"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="endDate" presentation="date" [min]="todaysDate" formControlName="endDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>



      <!-- <ion-item>
        <ion-label position="stacked">Number of days</ion-label>
        <ion-input type="number" min="1" formControlName="days"></ion-input>
      </ion-item> -->

      <!-- <ion-item class="mt-3">
        <ion-checkbox slot="start" formControlName="isClosed"></ion-checkbox>
        <label>Closed Gallery <br> <span class="text-small">(Admin permission required to join)</span></label>
      </ion-item> -->

      <div class="m-3">People can join this album via link provided after you make the album</div>


      <div class="text-center mt-3">
        <ion-button class="w-50" type="submit">Create Gallery</ion-button>
      </div>
    </form>
  </ion-content>
</ng-template>

<ng-template #creationResult>

  <ion-content [fullscreen]="true">
    <app-explore-container>
      <ion-header [translucent]="true">
        <ion-toolbar color="primary">
          <ion-title>
            Gallery Created
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="m-2">
        <h2>{{creationRes?.album?.name}}</h2>
        Album has been created

        Copy the joining link and share with people you'd
        like to add in this album
        who'd see and contribute to photos of the event

        <div class="text-center">
          <ion-button (click)="copyLink()" size="small"><ion-icon name="copy-outline"></ion-icon>&nbsp;Copy</ion-button>
          <a [href]="'whatsapp://send?text=' + textToCopy" data-action="share/whatsapp/share">
            <ion-button size="small" color="success"><ion-icon
              name="logo-whatsapp"></ion-icon>&nbsp;Share</ion-button>
          </a>
          <br><br><br>
          <ion-button routerLink="/tabs/tab3">
            <ion-icon name="arrow-forward-outline"></ion-icon>&nbsp;Explore Album
          </ion-button>
        </div>
      </div>

    </app-explore-container>
  </ion-content>
</ng-template>



<!-- join album modal -->
<ion-modal id="date-info-modal" #dateInfoModal trigger="date-info-modal-trigger">
  <ng-template>
    <div class="m-3 text-center">
      On the dates you provide, we will ask you if you'd like to upload the fresh pic to the album, and notify the
      members about the same. <br><br>
      You can always goto <br>album > <ion-icon name="create-outline"></ion-icon> > Disable Upload Prompt<br>to suppress
      them.<br><br>
      <ion-button class="mt-3" (click)="dateInfoModal.dismiss()">Okay</ion-button>
    </div>

  </ng-template>
</ion-modal>