<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <div class="d-flex flex-wrap">
    <div class="image-tile overflow-hidden" (click)="selectedIndex = i" [ngClass]="{'select-border': selectedIndex === i}" *ngFor="let x of [1,2,3,4,5,6,7,8,9,10]; let i=index">
      <img src="https://marmelab.com/images/blog/ascii-art-converter/upload-preview.png" />
  
    </div>
  </div>
</ion-content>  
