<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Notification Area
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- 
  contents: {{contents | json }}
  <input type="text" [(ngModel)]="contents" />
  <br><br>
  <ion-button (click)="cache()">Cache</ion-button>
  <ion-button (click)="data()">Data</ion-button>
  <ion-button (click)="doc()">Document</ion-button>
  <ion-button (click)="lib()">Library</ion-button>
  <ion-button (click)="ext()">External</ion-button>
  <ion-button (click)="extStorage()">External Storage</ion-button>

  <br><Br> -->
    <ion-button (click)="showNotif()">Register Notification</ion-button>
</ion-content>