<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Events & Library
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar type="indeterminate" *ngIf="refreshingAlbums"></ion-progress-bar>
  <ion-fab id="open-new-lib-modal" slot="fixed" vertical="top" horizontal="end" [edge]="true"
    (click)="routeToNewGalleryWizard()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <br>
  <ion-label *ngIf="albums?.length === 0">No Albums found</ion-label>
  <ion-label *ngIf="error">{{error}}</ion-label>
  <a style="text-decoration: none;" *ngFor="let album of albums" ion-long-press [interval]="400"
    (longPressed)="showModalButton.click(); selectedAlbum = album"
    [routerLink]="['album/'+album?._id, {album: album?.stringify}]">
    <pi-album-tile [albumData]="album"></pi-album-tile>
  </a>

  <button id="open-custom-dialog" class="d-none" #showModalButton></button>

  <!-- options modal -->
  <ion-modal id="example-modal" #optionsModal trigger="open-custom-dialog">
    <ng-template>
      <div class="wrapper">
        <h1>{{selectedAlbum?.name }}</h1>

        <ion-list lines="none">
          <ion-item button="true" detail="false" (click)="optionsModal.dismiss(); showConfirmModal.click()">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Delete (removes all photos)</ion-label>
          </ion-item>
          <ion-item button="true" detail="false" (click)="optionsModal.dismiss()">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Edit Album</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </ion-modal>
  <button id="open-confirm-delete-dialog" class="d-none" #showConfirmModal></button>

  <!-- confirm delete -->
  <ion-modal id="confirm-modal" #confirmDeleteModal trigger="open-confirm-delete-dialog">
    <ng-template>
      <div class="wrapper m-3">
        <h1>Delete {{selectedAlbum?.name }}?</h1>

        <ion-label>Are you shure you to delete <strong>{{selectedAlbum?.name}}</strong> ?<br> only creator can delete
          this album</ion-label>
        <div class="d-flex">
          <ion-button class="w-50" (click)="confirmDeleteModal.dismiss()">No</ion-button>
          <ion-button class="w-50" type="danger" (click)="confirmDeleteModal.dismiss(); deleteAlbum()">Yes</ion-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>


  <!-- deleting album -->
  <ion-backdrop *ngIf="showBackdrop"></ion-backdrop>
  <div id="box" *ngIf="showBackdrop">
    <ion-spinner name="crescent"></ion-spinner>
    <ion-label class="ion-margin-start">Deleting your album, please wait</ion-label>
  </div>
</ion-content>