<swiper-container class="swiper-container w-100 h-100" [allowSlideNext]="!hideOptions" [allowSlidePrev]="!hideOptions"
    [initialSlide]="currentSlideIndex || 0" (slidechange)="setCurrentSlideDetails($event)" #swiperRef>
    <swiper-slide class="swiper-slide" *ngFor="let img of images; let i = index">
        <!-- Slide {{i}} -->
        <div class="w-100 h-100 d-flex image-container"
            [ngStyle]="{'background-image': 'url('+('media/_'+img | addDomain: 'jpg')+')'}">

            <img [src]="('media/'+img) | addDomain" (load)="imageLoaded = true" class="thumb-img" zoom-pan
            (zoomState)="hideOptions = $event" loading="lazy" />
        </div>
    </swiper-slide>
</swiper-container>


<div class="toolbar upper-toolbar d-flex" *ngIf="!hideOptions">
    <div class="toolbar-option text-center ion-activatable ripple-parent" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="toolbar-option text-center ion-activatable ripple-parent" (click)="share(); downloadingModal.present()">
        <ion-icon name="share-social-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
    </div>
</div>

<div class="toolbar lower-toolbar d-flex" *ngIf="!hideOptions">
    <div class="toolbar-option text-center ion-activatable ripple-parent" (click)="getInfo(); imageInfoModal.present()">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="toolbar-option text-center ion-activatable ripple-parent" (click)="downloadImage()">
        <ion-icon name="download-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="toolbar-option text-center ion-activatable ripple-parent" (click)="confirmDeleteModal.present()">
        <ion-icon name="trash-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
    </div>
</div>


<!-- exif data modal -->
<ion-modal #imageInfoModal>
    <ng-template>
        <ion-header [translucent]="true">
            <ion-toolbar color="primary">
                <ion-button slot="start" fill="clear" (click)="imageInfoModal.dismiss()">
                    <ion-icon class="color-white" name="chevron-back-outline"></ion-icon>
                </ion-button>
                <ion-title class="pl-0">
                    {{imageData?.filename}}
                </ion-title>
                <!-- <ion-button slot="end" class="mr-2" (click)="logout()"><ion-icon name="power-outline"></ion-icon></ion-button> -->
            </ion-toolbar>
        </ion-header>
        <ion-grid class="w-100 text-black">
            <ion-row>
                <ion-col size="6">
                    File Name
                </ion-col>
                <ion-col size="6">
                    {{imageData?.filename}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    Size
                </ion-col>
                <ion-col size="6">
                    {{(imageData?.size / 1048576) | number: '1.2-2' }} MB
                </ion-col>
            </ion-row>

            <ion-row *ngIf="imageData?.exif?.exif?.ExifImageHeight">
                <ion-col size="6">
                    Resolution (W x H)
                </ion-col>
                <ion-col size="6">
                    {{imageData?.exif?.exif?.ExifImageWidth}} x {{imageData?.exif?.exif?.ExifImageHeight}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="6">
                    Uploaded by
                </ion-col>
                <ion-col size="6">
                    {{imageData?.uploaderName?.fname}} {{imageData?.uploaderName?.lname}}
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="6">
                    Uploaded On
                </ion-col>
                <ion-col size="6">
                    {{imageData?.uploadedOn | date: 'MMM dd, yyyy'}}
                </ion-col>
            </ion-row>

            <ion-row *ngIf="imageData?.takenOn">
                <ion-col size="6">
                    Clicked On
                </ion-col>
                <ion-col size="6">
                    {{imageData?.takenOn | date: 'MMM dd, yyyy'}}
                </ion-col>
            </ion-row>

            <ion-row *ngIf="imageData?.exif?.image">
                <ion-col size="6">
                    Device & Model
                </ion-col>
                <ion-col size="6">
                    {{imageData?.exif?.image?.Make}} {{imageData?.exif?.image?.Model}}
                </ion-col>
            </ion-row>


            <ion-row *ngFor="let item of exif | keyvalue">
                <ion-col size="6">
                    {{ item.key}}
                </ion-col>
                <ion-col size="6">
                    {{item.value}}
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button class="m-3" (click)="imageInfoModal.dismiss()">
            Close
        </ion-button>
    </ng-template>
</ion-modal>
<!-- exif modal data ends -->


<!-- downloading modal -->
<ion-modal id="downloading-modal" #downloadingModal>
    <ng-template>
        <div class="wrapper">
            <div>
                <ion-spinner name="crescent"></ion-spinner>
            </div>
            <div>Downloading</div>
        </div>
    </ng-template>
</ion-modal>

<!-- confirm delete modal -->
<ion-modal id="confirm-delete-modal" #confirmDeleteModal>
    <ng-template>
        <div class="p-2 text-center">
            <h3>
                You sure wanna delete this image?
            </h3>
            <ion-button class="w-25" fill="outline" (click)="confirmDeleteModal.dismiss()">No</ion-button>&nbsp;
            <ion-button class="w-25" (click)="deleteImage(); confirmDeleteModal.dismiss();">Yes</ion-button>

        </div>
    </ng-template>
</ion-modal>