<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Gallery Info/Edit
    </ion-title>
    <ion-button id="leave-album-modal-trigger" slot="end" class="mr-2" color="danger">Exit</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar type="indeterminate" *ngIf="this.isInfoLoading"></ion-progress-bar>

  <div class="stats text-center w-100">

    <div>
      <div>
        <ion-label position="stacked">Created by</ion-label>
        <h2>{{creator?.fname + ' ' + creator?.lname}}</h2>
      </div>

      <div>
        <ion-label position="stacked">On</ion-label>
        <h2>{{ album?.createdDate | date: 'MMM dd, yyyy'}}</h2>
      </div>
    </div>
    <div>
      <div class="d-flex w-100">
        <div class="w-50">
          <ion-label position="stacked">Photos</ion-label>
          <h2>{{ totals?.media }}</h2>
        </div>

        <div class="w-50">
          <ion-label position="stacked">Contributors</ion-label>
          <h2>{{ totals?.contributors }}</h2>
        </div >

      </div>
    </div>
    <div class="d-flex w-100" style="justify-content: center;">
      <ion-button color="primary" (click)="getJoiningLink()">Copy Joining Link</ion-button>
    </div>
  </div>


  <form [formGroup]="albumForm" (ngSubmit)="updateAlbum()">
    <ion-item>
      <ion-label position="stacked">Album Name</ion-label>
      <ion-input placeholder="Album name" formControlName="name" [readonly]="isUpdatingInfo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea placeholder="Album name" formControlName="description" [readonly]="isUpdatingInfo"></ion-textarea>
    </ion-item>

    <div class="text-center">
      <ion-button type="submit" class="mt-3 submit-button">Update
        <span *ngIf="isUpdatingInfo"> &nbsp;<ion-spinner></ion-spinner></span></ion-button>
    </div>
  </form>


  <div class="m-1">
    <h3>People in this gallery</h3>
    <ion-item *ngFor="let user of contributors">
      <ion-avatar slot="start">
        <img [alt]="" src="{{'dp/'+user?.dp | addDomain}}" />
      </ion-avatar>
      <ion-label>
        {{user?.fname + ' ' + user?.lname}}
      </ion-label>
    </ion-item>
    </div>


    <!-- exit from album confirmation modal -->
    <ion-modal id="leave-album-modal" #leaveAlbumModal trigger="leave-album-modal-trigger">
      <ng-template>
        <div class="wrapper m-3 text-center">
          
          <ion-spinner name="crescent" *ngIf="exitingAlbum"></ion-spinner> 
          <div *ngIf="!exitingAlbum">
            <div class="text-black">Are you sure you want to exit from</div>
            <h2 class="text-black">{{album?.name}}</h2>  
            <div class="text-black">All your uploads will remain intact in this album. Creator cannot exit the gallery</div>

            <ion-button (click)="exitAlbum()" color="danger" [disabled]="false"> Confirm </ion-button><ion-button fill="outline"
              (click)="leaveAlbumModal.dismiss()">Cancel</ion-button>
          </div>
        </div>
      </ng-template>
    </ion-modal>

</ion-content>