.submit-button {
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: 0;
    padding: 0;
}

.stats > div {
    display: flex;
    width: 100%;
}

.stats > div > div {
   width: 50%;
   text-align: center; 
   justify-content: center;
}