.start-button {
    height: 8rem;
    width: 8rem;
    background: linear-gradient(#06C, #06F);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

ion-content {
    text-align: center;
}