<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>
            Upload Component
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    Uploading in album id {{albumName}}<br>
    <ion-button (click)="imageFilesInput.click()">Select Images</ion-button>
    <ion-button (click)="uploadImageToServer()">Start upload</ion-button>
    <input type="file" multiple accept="image/png, image/jpeg, image/jpg, image/webp" class="d-none"
        (change)="filesSelected($event)" #imageFilesInput>

    <br>
    <span *ngIf="selectedImagesSrc?.length === 0">No file selected yet</span>
    <br>

    <h3>Uploading {{promisesCompleted + ' / ' + promises?.length}}</h3>
    <ion-item *ngFor="let src of selectedImagesSrc; let i = index">
      <ion-avatar slot="start">
        <img [alt]="" [src]="src" />
      </ion-avatar>
      <ion-label>
        <span class="float-right">{{uploadProgress[i] ? ((uploadProgress[i] | number: '0.0-0') + '%') : 'Pending'}}</span>
        <ion-progress-bar [value]="uploadProgress[i]/100" [color]=" uploadProgress[i] === 0 ? 'medium' : 'primary' "></ion-progress-bar><br>
    </ion-label>
    </ion-item>
</ion-content>